body {
  margin: 0;
  background-color: #7cc6fe;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 5px solid #234668;
  font-size: 18px;
  color: white;
  background-color: #252d4a;
  margin: 10px;
}

button:hover {
  background-color: #555e7d;
}

span {
  font-size: 20px;
}

.container {
  width: 600px;
  background-color: #252d4a;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 10px;
  min-height: 250px;
}

.question-answers {
  display: flex;
  justify-content: space-between;
}

.questions {
  width: 280px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
}

.answers {
  width: 320px;
  margin-right: 20px;
}

.score {
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  align-items: center;
}

.reset {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
}
